<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Nouveau Article</title>
      
      <!-- Favicon -->
      <link rel="shortcut icon" href="../assets/images/favicon.ico" />
      
      <link rel="stylesheet" href="../assets/css/backend-plugin.min.css">
      <link rel="stylesheet" href="../assets/css/backend.css?v=1.0.0">
  </head>
  <body class=" color-light ">
    <!-- loader Start -->
    <div id="loading">
          <div id="loading-center">
          </div>
    </div>
    <!-- loader END -->
    <!-- Wrapper Start -->
    <div class="wrapper">
        <div th:replace="header :: header"></div>
      <div class="content-page">
          <div class="container-fluid">
             <div class="row">
                <div class="col-lg-12">
                    <h3 style="text-align: center"> Nouveau Article</h3>

                </div>
                 <div class="col-lg-12 mt-5">
                     <div th:if="${msgArticleE}" class="alert alert-danger" role="alert">
                         <div class="iq-alert-text"><p th:text="${msgArticleE}"></p></div>
                     </div>
                     <form th:action="@{saveArticle}" method="post">
                         <div class="form-group">
                             <label for="title">Désignation</label>
                             <input type="text" class="form-control" id="title" name="title"
                                    placeholder="Désignation" required>
                         </div>
                         <div class="form-group">
                             <label for="unite">Unité</label>
                             <input type="text" class="form-control" id="unite" name="unite" placeholder="Unité" required>
                         </div>
                         <div class="form-group">
                             <label for="prix_Unitaire_HT">Prix Unité HT</label>
                             <input type="text" class="form-control" id="prix_Unitaire_HT" name="prix_Unitaire_HT"
                                    placeholder="Prix Unitaire HT" required>
                         </div>
                         <div class="form-group">
                             <label for="fournisseur">Fournisseur</label>
                             <select class="form-control" id="fournisseur" name="fournisseur" required>
                                 <option value="" disabled selected>Choisir un fournisseur</option>
                                 <option th:each="fournisseur : ${fournisseurs}"
                                         th:value="${fournisseur.id}"
                                         th:text="${fournisseur.nom}">Fournisseur</option>
                             </select>
                         </div>
                         <input class=" btn btn-primary" type="submit" value="Ajouter">
<!--                         <button type="submit" class="btn btn-primary">Ajouter</button>-->
                         <a href="articlesList" class="btn bg-danger">Annuler</a>
                     </form>
                 </div>
             </div>
          </div>
      </div>
    </div>
    <!-- Wrapper End-->
    <div th:replace="footer :: footer"></div>
       <!-- Backend Bundle JavaScript -->
    <script src="../assets/js/backend-bundle.min.js"></script>
    <!-- Chart Custom JavaScript -->
    <script src="../assets/js/customizer.js"></script>
    
    <script src="../assets/js/sidebar.js"></script>
    
    <!-- Flextree Javascript-->
    <script src="../assets/js/flex-tree.min.js"></script>
    <script src="../assets/js/tree.js"></script>
    
    <!-- Table Treeview JavaScript -->
    <script src="../assets/js/table-treeview.js"></script>
    
    <!-- SweetAlert JavaScript -->
    <script src="../assets/js/sweetalert.js"></script>
    
    <!-- Vectoe Map JavaScript -->
    <script src="../assets/js/vector-map-custom.js"></script>
    
    <!-- Chart Custom JavaScript -->
    <script src="../assets/js/chart-custom.js"></script>
    <script src="../assets/js/charts/01.js"></script>
    <script src="../assets/js/charts/02.js"></script>
    
    <!-- slider JavaScript -->
    <script src="../assets/js/slider.js"></script>
    
    <!-- Emoji picker -->
    <script src="../assets/vendor/emoji-picker-element/index.js" type="module"></script>
    
    
    <!-- app JavaScript -->
    <script src="../assets/js/app.js"></script>  </body>
</html>