    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Favicon -->
        <link rel="shortcut icon" href="../assets/images/favicon.ico" />

        <link rel="stylesheet" href="../assets/css/backend-plugin.min.css">
        <link rel="stylesheet" href="../assets/css/backend.css?v=1.0.0">
        <title>Les Commandes</title>
    </head>

    <style>
        .table {
            width: 92%;
            margin-bottom: 1.25rem;
            color: #324253;
            margin-left: 45px;
            margin-right: 100px;
            margin-top: 50px;
        }
        .form-inline {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 20px 45px;
        }
    </style>
    <body class="  ">
    <!-- loader Start -->
    <div id="loading">
        <div id="loading-center">
        </div>
    </div>
    <!-- loader END -->
    <!-- Wrapper Start -->
    <div class="wrapper">
        <div th:replace="header :: header"></div>

        <div class="content-page">
            <div class="form-inline">
                <a  href="/commander" class="btn btn-primary">Nouvelle Commande</a>
            </div>

            <table id="table" class="table data-table table-striped table-bordered">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Article</th>
                    <th scope="col">Quantite</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Date</th>
                    <th scope="col">Détails</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="commande:${commandesVue}">
                    <td th:text="${commande[0]}"></td>
                    <td th:text="${commande[3]}"></td>
                    <td th:text="${commande[1]}"></td>
                    <td style="width: 10%;" th:switch="${commande[6]}">
                        <span style="color: #2b8420;" th:case="true" th:text="'Validé'">Validé</span>
                        <span style="color: #6c757d;" th:case="false" th:text="'En cours'">Non Validé</span>
                    </td>
                    <!--                <td th:if="${commande[6]==false}" th:text="Non Validé">Non Validé</td>-->
                    <td th:text="${#dates.format(commande[2], 'dd/MM/yyyy')}"></td>
                    <!--                <td th:text="${commande[2]}"></td>-->

                    <td>
                        <a class="btn btn-sm btn-outline-success" th:href="@{BonCommande(id=${commande[0]})}" >Voir</a>

                        <!--                    <a class="btn btn-outline-secondary" th:href="@{editArticle(id=${article.id})}" >Modifier</a>-->
                    </td>
                    <!--                <td>-->
                    <!--                    <a class="btn btn-sm btn-outline-danger" th:href="@{deleteCommande(id=${commande[0]})}" onclick="return confirm('Voulez vraiment supprime cette commande !')">Supprimer</a>-->

                    <!--                </td>-->


                </tr>
                </tbody>

            </table>
            <!--        <table class="table">-->
            <!--            <thead>-->
            <!--            <tr>-->
            <!--                <th scope="col">Id</th>-->
            <!--                <th scope="col">Article</th>-->
            <!--                <th scope="col">Quantite</th>-->
            <!--                <th scope="col">Etat</th>-->
            <!--                <th scope="col">Date</th>-->
            <!--                <th scope="col">Détails</th>-->
            <!--            </tr>-->
            <!--            </thead>-->
            <!--            <tbody>-->
            <!--            <tr th:each="commande:${commandesVue}">-->
            <!--                <td th:text="${commande[0]}"></td>-->
            <!--                <td th:text="${commande[3]}"></td>-->
            <!--                <td th:text="${commande[1]}"></td>-->
            <!--                <td style="width: 10%;" th:switch="${commande[6]}">-->
            <!--                    <span style="color: #2b8420;" th:case="true" th:text="'Validé'">Validé</span>-->
            <!--                    <span style="color: #6c757d" th:case="false" th:text="'En cours'">Non Validé</span>-->
            <!--                </td>-->
            <!--&lt;!&ndash;                <td th:if="${commande[6]==false}" th:text="Non Validé">Non Validé</td>&ndash;&gt;-->
            <!--                <td th:text="${#dates.format(commande[2], 'dd/MM/yyyy')}"></td>-->
            <!--&lt;!&ndash;                <td th:text="${commande[2]}"></td>&ndash;&gt;-->

            <!--                <td>-->
            <!--                    <a class="btn btn-sm btn-outline-success" th:href="@{BonCommande(id=${commande[0]})}" >Voir</a>-->

            <!--                    &lt;!&ndash;                    <a class="btn btn-outline-secondary" th:href="@{editArticle(id=${article.id})}" >Modifier</a>&ndash;&gt;-->
            <!--                </td>-->
            <!--&lt;!&ndash;                <td>&ndash;&gt;-->
            <!--&lt;!&ndash;                    <a class="btn btn-sm btn-outline-danger" th:href="@{deleteCommande(id=${commande[0]})}" onclick="return confirm('Voulez vraiment supprime cette commande !')">Supprimer</a>&ndash;&gt;-->

            <!--&lt;!&ndash;                </td>&ndash;&gt;-->


            <!--            </tr>-->
            <!--            </tbody>-->
            <!--        </table>-->
        </div>
    </div>


    <script src="../assets/js/backend-bundle.min.js"></script>
    <!-- Chart Custom JavaScript -->
    <script src="../assets/js/customizer.js"></script>

    <script src="../assets/js/sidebar.js"></script>

    <!-- Flextree Javascript-->
    <script src="../assets/js/flex-tree.min.js"></script>
    <script src="../assets/js/tree.js"></script>

    <!-- Table Treeview JavaScript -->
    <script src="../assets/js/table-treeview.js"></script>

    <!-- SweetAlert JavaScript -->
    <script src="../assets/js/sweetalert.js"></script>

    <!-- Vectoe Map JavaScript -->
    <script src="../assets/js/vector-map-custom.js"></script>

    <!-- Chart Custom JavaScript -->
    <script src="../assets/js/chart-custom.js"></script>
    <script src="../assets/js/charts/01.js"></script>
    <script src="../assets/js/charts/02.js"></script>

    <!-- slider JavaScript -->
    <script src="../assets/js/slider.js"></script>

    <!-- Emoji picker -->
    <script src="../assets/vendor/emoji-picker-element/index.js" type="module"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/2.1.2/js/jquery.dataTables.js"></script>

    <!-- app JavaScript -->
    <script src="../assets/js/app.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/1.10.25/i18n/French.json"></script>

    <script>
        $(document).ready(function() {
            $("#loading").fadeOut();

            // Détruire l'instance existante de DataTables si elle existe
            if ($.fn.DataTable.isDataTable('#table')) {
                $('#table').DataTable().destroy();
            }

            // Initialiser DataTables
            $('#table').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/French.json"
                }
            });
        });
    </script>
    </body>
    </html>