<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Réinitialiser le mot de passe</title>
      
      <!-- Favicon -->
      <link rel="shortcut icon" href="../assets/images/favicon.ico" />
      
      <link rel="stylesheet" href="../assets/css/backend-plugin.min.css">
      <link rel="stylesheet" href="../assets/css/backend.css?v=1.0.0">  </head>
  <body class=" ">
    <!-- loader Start -->
    <div id="loading">
          <div id="loading-center">
          </div>
    </div>
    <!-- loader END -->
    
      <div class="wrapper">
    <section class="login-content">
         <div class="container h-100">
            <div class="row align-items-center justify-content-center h-100">
               <div class="col-md-5">
                  <div class="card p-5">
                     <div class="card-body">
                        <div class="auth-logo">
<!--                           <img src="../assets/images/logo.png " class="img-fluid  rounded-normal  darkmode-logo" alt="logo">-->
                           <img src="../assets/images/unnamed.png" class="img-fluid rounded-normal light-logo" alt="logo">
                        </div>
<!--                        <h4 class="mb-3 text-center">Réinitialiser le mot de passe</h4>-->
                        <h4 class="mb-3 text-center">Problèmes de connexion ?</h4>
<!--                        <p class="text-center small text-secondary mb-3">Vous pouvez réinitialiser votre mot de passe ici</p>-->
                        <p class="text-center small text-secondary mb-3">Entrez l'adresse email associé à votre compte pour modifier votre mot de passe.
                        </p>

                         <form th:action="@{forgot-password}" method="post">
                             <div class="form-group">
                             <label for="email">Email:</label>
                                 <input class="form-control" name="email" id="email" type="email" placeholder="E-mail">
                             <button class="btn btn-primary btn-block mt-2" type="submit">Réinitialiser le mot de passe</button>
                                 </div>
                         </form>
                         <div class="alert alert-success mt-2" role="alert" th:if="${message}">
                             <div class="iq-alert-text" th:text="${message}"></div>
                         </div>
                         <div class="alert alert-danger mt-2" role="alert" th:if="${errorMessage}">
                             <div class="iq-alert-text" th:text="${errorMessage}"></div>
                         </div>
                     </div>

                  </div>
               </div>
            </div>
         </div>
      </section>
      </div>
    
    <!-- Backend Bundle JavaScript -->
    <script src="../assets/js/backend-bundle.min.js"></script>
    <!-- Chart Custom JavaScript -->
    <script src="../assets/js/customizer.js"></script>
    
    <script src="../assets/js/sidebar.js"></script>
    
    <!-- Flextree Javascript-->
    <script src="../assets/js/flex-tree.min.js"></script>
    <script src="../assets/js/tree.js"></script>
    
    <!-- Table Treeview JavaScript -->
    <script src="../assets/js/table-treeview.js"></script>
    
    <!-- SweetAlert JavaScript -->
    <script src="../assets/js/sweetalert.js"></script>
    
    <!-- Vectoe Map JavaScript -->
    <script src="../assets/js/vector-map-custom.js"></script>
    
    <!-- Chart Custom JavaScript -->
    <script src="../assets/js/chart-custom.js"></script>
    <script src="../assets/js/charts/01.js"></script>
    <script src="../assets/js/charts/02.js"></script>
    
    <!-- slider JavaScript -->
    <script src="../assets/js/slider.js"></script>
    
    <!-- Emoji picker -->
    <script src="../assets/vendor/emoji-picker-element/index.js" type="module"></script>
    
    
    <!-- app JavaScript -->
    <script src="../assets/js/app.js"></script>  </body>
</html>